/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Teko", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}
